<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>FamilyCloud</display-name>

	<servlet>
		<servlet-name>Serverlet</servlet-name>
		<servlet-class>Serverlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Serverlet</servlet-name>
		<url-pattern>/servlet/Serverlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminSin</servlet-name>
		<servlet-class>AdminSin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSin</servlet-name>
		<url-pattern>/servlet/AdminSin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemberSin</servlet-name>
		<servlet-class>MemberSin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberSin</servlet-name>
		<url-pattern>/servlet/MemberSin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemberLog</servlet-name>
		<servlet-class>MemberLog</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberLog</servlet-name>
		<url-pattern>/servlet/MemberLog</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetFtp</servlet-name>
		<servlet-class>GetFtp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetFtp</servlet-name>
		<url-pattern>/servlet/GetFtp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetHttp</servlet-name>
		<servlet-class>GetHttp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetHttp</servlet-name>
		<url-pattern>/servlet/GetHttp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadFile</servlet-name>
		<servlet-class>UploadFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFile</servlet-name>
		<url-pattern>/servlet/UploadFile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteFile</servlet-name>
		<servlet-class>DeleteFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFile</servlet-name>
		<url-pattern>/servlet/DeleteFile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetFileInfo</servlet-name>
		<servlet-class>GetFileInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetFileInfo</servlet-name>
		<url-pattern>/servlet/GetFileInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetServerInfo</servlet-name>
		<servlet-class>GetServerInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetServerInfo</servlet-name>
		<url-pattern>/servlet/GetServerInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangePermission</servlet-name>
		<servlet-class>ChangePermission</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePermission</servlet-name>
		<url-pattern>/servlet/ChangePermission</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetFamilyMembers</servlet-name>
		<servlet-class>GetFamilyMembers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetFamilyMembers</servlet-name>
		<url-pattern>/servlet/GetFamilyMembers</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteMember</servlet-name>
		<servlet-class>DeleteMember</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteMember</servlet-name>
		<url-pattern>/servlet/DeleteMember</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Log</servlet-name>
		<servlet-class>Log</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Log</servlet-name>
		<url-pattern>/servlet/Log</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetRunFur</servlet-name>
		<servlet-class>GetRunFur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRunFur</servlet-name>
		<url-pattern>/servlet/GetRunFur</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetSinFur</servlet-name>
		<servlet-class>GetSinFur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSinFur</servlet-name>
		<url-pattern>/servlet/GetSinFur</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddFurniture</servlet-name>
		<servlet-class>AddFurniture</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFurniture</servlet-name>
		<url-pattern>/servlet/AddFurniture</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteFurniture</servlet-name>
		<servlet-class>DeleteFurniture</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFurniture</servlet-name>
		<url-pattern>/servlet/DeleteFurniture</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetFurInfo</servlet-name>
		<servlet-class>GetFurInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetFurInfo</servlet-name>
		<url-pattern>/servlet/GetFurInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SetFurInfo</servlet-name>
		<servlet-class>SetFurInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetFurInfo</servlet-name>
		<url-pattern>/servlet/SetFurInfo</url-pattern>
	</servlet-mapping>





	<servlet>
		<servlet-name>Choice</servlet-name>
		<servlet-class>furniture.Choice</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Choice</servlet-name>
		<url-pattern>/servlet/Choice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AirconditionServ</servlet-name>
		<servlet-class>furniture.AirconditionServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AirconditionServ</servlet-name>
		<url-pattern>/servlet/AirconditionServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CurtainServ</servlet-name>
		<servlet-class>furniture.CurtainServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CurtainServ</servlet-name>
		<url-pattern>/servlet/CurtainServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IceboxServ</servlet-name>
		<servlet-class>furniture.IceboxServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IceboxServ</servlet-name>
		<url-pattern>/servlet/IceboxServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LightServ</servlet-name>
		<servlet-class>furniture.LightServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LightServ</servlet-name>
		<url-pattern>/servlet/LightServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SensorServ</servlet-name>
		<servlet-class>furniture.SensorServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SensorServ</servlet-name>
		<url-pattern>/servlet/SensorServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TelevisionServ</servlet-name>
		<servlet-class>furniture.TelevisionServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TelevisionServ</servlet-name>
		<url-pattern>/servlet/TelevisionServ</url-pattern>
	</servlet-mapping>





	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>
</web-app>